html,body{
    height:100%;
    width:100%;
    color:green;
    
}
.navlogoimg {
    height: 30%;
    width: 30%;
    margin-bottom: -30px;
    border-radius: 50%;
}
.navbar-nav li {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-tog {
    margin:50px 3px 3px 3px;
}

.coll-menu {
    padding: 15px 15px;
}

.navlinks {
    color: red !important;
}

.carousel-indicators li {
    position: relative;
    left: 20px;
}

.adimg {
    width: 100%;
    height:auto;
}

.contacts {

    color: red;
    
}

    .contacts p {
       
        color: red;
    }

    
    .contacts a {
        text-decoration: none !important;
    }

.fa-phone-alt{
    font-size:2rem;
}
.fa-facebook {
    font-size: 2rem;
    color: #3b5998;
}
.fa-instagram {
    font-size: 2rem;
    color: #C13584;
}
.my-flex-container-topic{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
    border:1px solid rgb(225,225,225);
}
.my-flex-container-items {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
    border: 1px solid rgb(225,225,225);
    margin-left: 10%;
}
.prices {
    height: 5%;
    width: 1%;
    font-size: 3rem;
    text-align: left;
    color: #bbe50c;
}
.description {
	display:none;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-align:left;
}
.menudescription{
	font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-align:left;
	
}
.my-flex-topic{
	
   text-align:center;
}
.menu-container {
    padding: 0 !important;
}
.btn{
	font-size:3rem !important;
	text-align:left !important;
	border:3px solid rgb(225,225,225) !important;
}
.btn-add{
	font-family: 'Pacifico', cursive !important;
	    text-align: center !important;
}
.addMenuItemForm{
	display:none;
	font-size:3rem ;
	font-family: 'Pacifico', cursive ;
	text-align: center;
	border:5px solid rgb(225,225,225);
	margin:5px;
}
.updateForm{
	display:none;
	font-size:3rem ;
	font-family: 'Pacifico', cursive ;
	text-align: center;
	border:5px solid rgb(225,225,225);
	margin:5px;
	padding: 10px;
}

.admincontainer{
	color:#fff;
	font-size:1.5rem;
	background:url('/img/adminbg.jpg') no-repeat !important;
	width:100% !important;
	height:100vh;
}
.adminform{
	padding:50px 60px;
	margin-top:20vh;
	-webkit-box-shadow: -1px 4px 26px 24px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 24px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 24px rgba(0,0,0,0.75);
}
.login-btn{
	text-align:center !important;
}
.shopingContainer{
	
}
.orderhead{
	font-family: "Times New Roman", Times, serif;
	font-size:3rem;
	text-align:center !important;
	
}
.dish{
	font-family: "Times New Roman", Times, serif;
	font-size:1.5rem;
	border-bottom:3px solid rgb(225,225,225);
	padding:0 !important;
	text-align:center;
}
.pricecart{
	font-family: "Times New Roman", Times, serif;
	font-size:1.5rem;
	border-bottom:3px solid rgb(225,225,225);
	text-align:center;
}
.quantity{
	font-family: "Times New Roman", Times, serif;
	font-size:1.5rem;
	border-bottom:3px solid rgb(225,225,225);
	text-align:center;
}
.shopitem{
	font-family: "Times New Roman", Times, serif;
	font-size:1.5rem !important;
	border-bottom:3px solid rgb(225,225,225) !important;
	text-align: center;
}
.fa-trash{
	cursor:pointer;
	color:#d61c12;
	padding:0 !important;
	align-self:center;
}
.fa-plus-circle{
	cursor:pointer;
	color:blue;
}
.fa-minus-circle{
	cursor:pointer;
	color:blue;
}
#total{
	font-size:2rem;
	text-align:right;
	padding-right:1%;
}
#shopingCart{
	display:none;

}
.fa-shopping-cart{
	color:red;
	font-size:1.5rem;	
}
.orderbtn{
	margin-right:1%;
}
.orderBtnWrap{
	direction:rtl;
	padding-bottom:1%;
}
.orderboxhead{
	align-self: center;
}
.sendorderbutton{
	align-self:center;
}
#textareanote{
	resize:none
}

.client{
	border:3px solid rgb(225,225,225)	 !important;
	margin-bottom:10px !important;
}
.cleintinfo{
	border-bottom:3px solid rgb(225,225,225) !important;
}
.clientnote{
	font-weight:bold
}
.clientname,.clientemail,.clientphone{
	border-right:3px solid rgb(225,225,225) !important
}
.orderheading{
	font-family: 'Inter', sans-serif;
	 text-align: center;
    font-size: 3rem;
}
.kitchenbody{
	font-family: 'Inter', sans-serif;
}

